.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
SimpleProject
.secrets/
.env/
.auth/
create-simple-project.log.txt
dotnet.version.txt